:root {
    --c1: #f5f5f5;
    --c2: #2E7D32;
    --c3: white;
    --c4: #A5D6A7;
    --c5: #1B5E20;
    --c6: #81C784;
    --c7: black;
    --c8: #2C3E50;
    --c9: #5aa95f;
    --c10: #d0f0c0;
}