<footer>
    <div class="page-break"></div>
    <a href="#" id="link-top">
        <div id="sageata">
            <div class="dreptunghi"></div>
            <div class="triunghi"></div>
        </div>
    </a>
    <p>Sunați la <a href="tel:+40700000000">+40 700 000 000</a>. Dați-ne un mesaj pe <a href="https://wa.me/40700000000" target="_blank">WhatsApp</a>. Trimiteți un e-mail la <a href="mailto:cercetareAlimentatie@gmail.ro">cercetareAlimentatie@gmail.ro</a>.</p>
    <p></p>
    <small>&copy;Cercetare Alimentatie <time datetime="2025-05-21T00:00:00.000+03:00">21 mai 2025</time>.</small>
</footer>