<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="description" content="Platforma de gestionare a datelor de cercetare in domeniul alimentatiei">
        <title>Cercetare Alimentație</title>

        {% include "fragmente/head.html" %}
    </head>
    <body>
        <header>

        </header>
        <main>
            <h2>Autentificare</h2>
            <form method="post">
                {% csrf_token %}
                <label>Username:
                    <input type="text" name="username">
                </label>
                <label>Parolă:
                    <input type="password" name="password">
                </label>
                <button type="submit">Login</button>
            </form>
            <a href="{% url 'signup' %}">Nu ai cont? Creează unul!</a>
        </main>
        {% include "fragmente/footer.html" %}
    </body>
</html>