<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="description" content="Platforma de gestionare a datelor de cercetare in domeniul alimentatiei">
        <title>Cercetare Alimentație</title>

        {% include "fragmente/head.html" %}
    </head>
    <body>
        <header>
            {% include "fragmente/header.html" %}
        </header>
        <main>
        <h2>Resetare parolă</h2>
              <p>Introdu adresa ta de email pentru a primi un link de resetare.</p>
              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Trimite link de resetare</button>
              </form>
        </main>
        <footer>
            {% include "fragmente/footer.html" %}
        </footer>
    </body>
</html>