<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="description" content="Platforma de gestionare a datelor de cercetare in domeniul alimentatiei">
        <title>Cercetare Alimentație</title>

        {% include "fragmente/head.html" %}

    </head>
    <body>
        <header>

        </header>
        <main>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <h2>Înregistrare</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Creează cont</button>
            </form>
            <a href="{% url 'login' %}">Ai deja cont?</a>
        </main>
        {% include "fragmente/footer.html" %}
    </body>
</html>