<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="description" content="Platforma de gestionare a datelor de cercetare in domeniul alimentatiei">
        <title>Cercetare Alimentație</title>

        {% include "fragmente/head.html" %}

    </head>
    <body>
        <main>
            <h2>Bun venit!</h2>
            <p>Ai deja cont?</p>
            <a href="{% url 'login' %}">Login</a> |
            <a href="{% url 'signup' %}">Creează cont</a>
        </main>
        {% include "fragmente/footer.html" %}
    </body>
</html>