<!DOCTYPE html>
<html lang="ro">
<head><title>Login</title></head>
<body>
  <h2>Autentificare</h2>
  {% if messages %}
    {% for message in messages %}
      <p style="color:red">{{ message }}</p>
    {% endfor %}
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <label>Nume utilizator:
    <input type="text" name="username" required><br></label>
    <label>Parolă:
    <input type="password" name="password" required><br></label>
    <button type="submit">Login</button>
  </form>
</body>
</html>
